*{
    box-sizing: border-box;
    margin: 0;
    box-sizing: 0;
}

html{
    font-size: 62.5%;
}
header{
    background-color: rgb(29,29,31);
    height: 5rem;
    border-bottom: 0.15rem solid rgb(6, 82, 105);
}
.nav{
    list-style: none;
    color: blanchedalmond;
    text-align: right;
    padding-top: 2rem;
    padding-right: 1.1rem;
}

.img-header{
    position: absolute;
    height: 30px;
    left: 5px;
    top: 10px;
}
.nav li{
    display: inline-block;
    font-size: 1.7rem;
    padding-left: 0.5rem;
    padding-bottom: 1rem;
}
main{
    display: flex;
    flex-direction: column;
}
h1{
    text-align: center;
    font-size: 3.5rem;
    color: black;
    padding-top: 1rem;
}
section{
    width: 100%;
}
#uno{
    background-color:rgb(245, 245, 245);
    height: 16vh;
}
.title-v{
    text-align: center;
    font-size: 3.8rem;
    color: black;
    padding-top: 0.5rem;
}
.descript-v{
    font-size: 1.6rem;
    color: black;
    text-align: center;
    padding-top: 0.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
#dos{
    background-color: white;
    height: 90vh;
}
#dos-p{
    font-size: 1.6rem;
    color: black;
    text-align: center;
    padding-top: 0.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
#dos-p-ref{
    font-size: 1.6rem;
    text-align: center;
    padding-top: 0.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
#tres{
    background-color: white;
    height: 90vh;
}
#cuatro{
    height: 90vh;
    background-color: darkblue;
}
#cinco{
    height: 90vh;
    background-color: darkcyan;
}
#seis{
    height: 90vh;
    background-color: firebrick;
}
footer{
    background-color: rgb(29,29,31);
    height: 20vh;
}