*{
    box-sizing: border-box;
    margin: 0;
    box-sizing: 0;
}

html{
    font-size: 62.5%;
}
header{
    background-color: rgb(29,29,31);
    height: 4rem;
    border-bottom: 0.15rem solid rgb(6, 82, 105);
}
.nav{
    list-style: none;
    color: blanchedalmond;
    text-align: right;
    padding-top: 1rem;
    padding-right: 2rem;
}
header h1{
    position: absolute;
    color: blanchedalmond;
    left: 0;
    font-size: 3rem;
}
.nav li{
    display: inline-block;
    font-size: 2rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}
main{
    display: flex;
    flex-direction: column;
}
section{
    width: 100%;
}
#uno{
    background-color: rgb(55, 55, 56);
    height: 20vh;
}
.title-v{
    text-align: center;
    font-size: 3.5rem;
    color: white;
    padding-top: 1rem;
}
.descript-v{
    font-size: 1.6rem;
    color: white;
    text-align: center;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
#dos{
    background-color: white;
    height: 90vh;
}
#tres{
    background-color: black;
    height: 90vh;
}
#cuatro{
    height: 90vh;
    background-color: white;
}
#cinco{
    height: 90vh;
    background-color: black;
}
#seis{
    height: 90vh;
    background-color: white;
}
footer{
    background-color: rgb(29,29,31);
    height: 20vh;
}