*{
    box-sizing: border-box;
    margin: 0;
    box-sizing: 0;
}

html{
    font-size: 62.5%;
}
header{
    background-color: rgb(29,29,31);
    height: 5rem;
    border-bottom: 0.15rem solid rgb(6, 82, 105);
}
.nav{
    list-style: none;
    color: white;
    text-align: right;
    padding-top: 2rem;
    padding-right: 1.1rem;
}

.img-header{
    position: absolute;
    height: 30px;
    left: 5px;
    top: 10px;
}
.nav li{
    display: inline-block;
    font-size: 1.7rem;
    padding-left: 0.5rem;
    padding-bottom: 1rem;
}
main{
    display: flex;
    flex-direction: column;
}
h1{
    text-align: center;
    font-size: 3.5rem;
    color: black;
    padding-top: 1rem;
}